services:
  db:
    image: mysql:5.7
    environment:
       MYSQL_ROOT_PASSWORD: secret
       MYSQL_DATABASE: faleconosco
    ports:
       - "3306:3306"
    volumes:
      - .data:/var/lib/mysql
    networks:
      - app-network
  php:
    user: 1002:1000
    build:
      args:
        user: teste
      context: .docker/php
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - .docker/apache/sites-available:/etc/apache2/sites-enabled
    depends_on:
      - db
    networks:
      - app-network
networks:
  app-network:
    name: app-network
    driver: bridge
